<!-- <distance-slider></distance-slider> -->

<ion-buttons>
  <div>
    <!-- [(user)]="driver" expand="full" for button-->
    <ion-button padding-right round size="large" icon-only (click)="presentAddPopover($addRoute)">
      <ion-icon icon-start name="add"></ion-icon>
      Add Route
    </ion-button>
  </div>
  <div>
    <!-- [(user)]="rider" expand="full" for button -->
    <ion-button round size="large" icon-only (click)="presentReqPopover($reqRoute)">
      Seek Route
      <ion-icon name="swap"></ion-icon>
    </ion-button>
  </div>
</ion-buttons>