route-filter {
  padding-top: 24px;
}

.md-collapsible .md-small-gray {
  font-size: .75em;
  color: #7d7d7d;
}

.md-collapsible .md-small-margin {
  margin: 10px 0;
}

.md-collapsible .mbsc-card-content {
  padding: 0;
}

.md-collapsible .mbsc-btn-group-block {
  padding: .5em 1em;
}

.mbsc-windows .md-collapsible .mbsc-card-header {
  font-size: 16px;
}

.mbsc-windows .md-collapsible .mbsc-btn-primary {
  margin-bottom: .25em;
}
