<ion-grid>
  <!-- <ion-tabs>
    <shortroute></shortroute>
    <longroute></longroute>
  </ion-tabs> -->
  <ion-card>
    <ion-buttons>

      <!-- <ion-row>
          <ion-col col-5></ion-col>
          <ion-col col-3> -->
      <ion-button padding-left size="large" full (click)="hide()">
        <ion-list-header>
          <ion-label>
            Filter
          </ion-label>
        </ion-list-header>
      </ion-button>
      <!-- </ion-col>
          <ion-col col-4></ion-col>
        </ion-row> -->

    </ion-buttons>

    <ion-card-content #cc>
      <div *ngIf="hideMe">
        <ion-row inline>
          <ion-col size="6">
            <ion-item>
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Location</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-item interface="popover">
              <ion-icon name="people" item-start></ion-icon>
              <ion-label>Passengers</ion-label>
              <ion-select [(ngModel)]="passengers">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="2">

          </ion-col>

          <ion-col size="4">
            <ion-item>
              <ion-label>Start Time</ion-label>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="myDate"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="2">

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-icon name="cash" item-start></ion-icon>
              <ion-label>Compensation</ion-label>
              <ion-input type="number" [value]="$>=0">>
              </ion-input>
              <!-- Minimum Require $ -->
              <ion-select [(ngModel)]="currency">
                <ion-select-option value="cur">$</ion-select-option>
                <ion-select-option value="btc">₿</ion-select-option>
                <ion-select-option value="eth">Ξ</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="2">

          </ion-col>
          <!--This data comes from past/completed ride list, a data attribute of drivers-->
          <ion-col size="6">
            <ion-item>
              <ion-label>Driver Rating</ion-label>
              <ion-range [(ngModel)]="driverrating">
                <ion-icon slot="start" small name="star-outline"></ion-icon>
                <ion-icon slot="end" name="star"></ion-icon>
              </ion-range>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <!-- <headbuttons></headbuttons> -->

    </ion-card-content>

  </ion-card>

</ion-grid>